/* Атомарные классы */

.container {
  --max-width: 820px; /* Задать ширину блоков */
  --padding-side: 15px;
  width: min(var(--max-width), 100% - (var(--padding-side) * 2));
  margin-inline: auto;
  box-sizing: border-box;
}
.bimg, .bimg img {
    display: block;
    width: 100%;
}