@import "./components/structure";
@import "./components/atom";

/* БЭМ */



/* Адаптив */

@media (width > 820px) {
    .nob {
        display: none;
    }

    #wrapper { background: #f2e0b5; } /* удалить */

}
@media (width <= 820px) {
    .nom {
        display: none;
    }

    #wrapper { background: red; } /* удалить */

}

/* Палитра областей (удалить) */
header     { background: #e3f1ff; }
.block     { background: #edffe5; }
.container { background: #d0ecc4; }
footer     { background: #e3f1ff; }